extends layout


block content

  .pure-g
    .pure-u-1
      h1.t1 Last.fm Duplicate Findr
    .pure-u-2-3
      p
        | Sometimes you can end up with duplicate - or more - scrobbles for a single track on Last.fm.
        | This app aims to remove those duplicate scrobble which distort your play counts and other stats.
      p Click an artist below or search for one.

  form.pure-g.pure-form.artist-search(method="get", action="/duplicates-for-artist")
    .pure-u-1
      p Search for an artist
      input(type="text", name="artist", placeholder="Artist Name", required)
      input.pure-button.pure-button-primary(type="submit", value="Find Duplicates")

  .pure-g.artist-cards#artist-cards

  .pure-g.load-more.hidden#top-artists-load-more
    .pure-u-1
      .text-center
        button.pure-button.btn-secondary.js-load-more
          i.fa.fa-repeat
          span  Load More

  .pure-g.top-artists#top-artists-loader
    .pure-u-1.ghost-center-wrap.text-center.top-artists__loader
      .ghost-center
        +loaderMessage('Loading top artists...')

  include mustache/artist-card.html

block require
  +requireScript('pages/home')
