extends layout

block content

  .pure-g
    .pure-u-1
      h1.t1 Last.fm Duplicate Findr

  - var href = locals.lfmAuthUrl
  .pure-g
    .pure-u-1
      p You need to authenticate this app from Last.fm before you can use it.
      a.topcoat-button--large--cta(href=href) Authenticate
