<script class="mustache-template" id="mustache__artist-card" type="text/x-mustache-template">
  {{#artists}}
    <div class="pure-u-1-3">
      <a class="artist-card" href="duplicates-for-artist?artist={{ name }}" data-artist="{{ name }}">
        <div class="artist-card__img keep-ratio HD">
          <div class="keep-ratio-inner">
            <img src="{{ image.3.#text }}" alt="{{ name }}" />
            <p class="artist-card__playcount marginless">{{ playcount }} plays</p>
            <p class="artist-card__duplicates marginless hidden"> duplicates</p>
          </div>
        </div>
        <div class="artist-card__inner">
          <p class="artist-card__name marginless text-overflow">
            {{ name }}
          </p>
        </div>
      </a>
    </div>
  {{/artists}}
</script>
