.artist-card {
  display: block;
  background: $gray80;
  text-decoration: none;
  color: $wetAsphalt;
}

.artist-card__image {
  width: 100%;

  .objectfit & {
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}

.artist-card__playcount {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.artist-card__duplicates {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 4px;
  color: white;
  background-color: rgba($alizarin, 0.5);
  text-align: center;
  min-width: 20px;

  &.no-duplicates {
    background-color: rgba($emerald, 0.5)
  }
}

.artist-card__inner {
  padding: 15px 10px;
}

.artist-card__loading {
  position: absolute;
  display: none;
  right: 16px;
  bottom: 8px;
  width: 24px;
  height: 24px;
}

.artist-card--loading .artist-card__loading {
  display: block;
}
