body {
  // font-family: 'Ubuntu', Verdana, sans-serif;
  color: $gray30;
}

// Links
a {
  text-decoration: none;

  &:not(.pure-button),
  &:not(.pure-button):visited {
    color: $river;
  }

  &:not(.pure-button):hover {
    text-decoration: underline;
  }

  &:not(.pure-button):active {
    color: $emerald;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $wetAsphalt;
}


// Headers
.t1 {
  margin: 20px 0;
  font-weight: 300;
  font-size: 4em;
  line-height: 1;
  color: $river;
}

.t2 {
  position: relative;
  font-size: 2.5em;
  margin-bottom: 18px;

  // Bottom border BEHIND the descenders!
  &::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: $river;
  }
}

.t3 {
  margin: .6667em 0 0.5em;
  // font-size: 1.5em;
}

.t4 {
  font-size: 1.25em;
}

@media ( max-width: 47.9375em ) {
  .t1 {
    font-size: 8vw;
    margin: 3vw 0;
  }
  .t2 {
    font-size: 6vw;
    margin: 2vw 0;
  }
}



ul.unstyled,
ol.unstyled {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.light-text-dark-box {

  p {
    color: $clouds;
  }

  a {
    color: $clouds;

    &:hover {
      color: white;
    }
  }
}
